@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0px auto;
  }
  section {
    margin: 60px 0px;
  }
  .slider__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .slider__single:first-child {
    grid-column: 1 / span 6;
    text-align: start;
  }
  .slider__single:last-child {
    grid-column: 7 / span 6;
  }

  .statistic__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .single__statistic {
    display: grid;
    justify-items: center;
    grid-row-gap: 15px;
  }
  .single__statistic:first-child {
    grid-column: 1 / span 6;
  }
  .single__statistic:nth-child(2) {
    grid-column: 7 / span 6;
  }
  .single__statistic:last-child {
    grid-column: 1 / span 12;
  }

  .coronavirus__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 50px;
    align-items: center;
  }
  .coronavirus__single:first-child {
    grid-column: 1 / span 6;
  }
  .coronavirus__single:last-child {
    grid-column: 7 / span 6;
  }
  .coronavirus__single h1 {
    margin: 10px 0px;
  }
  .coronavirus__single p {
    margin-bottom: 10px;
  }
  .coronavirus__single ul {
    margin-bottom: 20px;
  }
  /* This is protection section  */
  .protection__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    justify-self: center;
  }
  /* How To Prevent Coronavirus Section */
  .prevent__wrapper--card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 40px;
  }
  .prevent__card:first-child {
    grid-column: 1 / span 6;
  }
  .prevent__card:nth-child(2) {
    grid-column: 7 / span 6;
  }

  .prevent__card:nth-child(3) {
    grid-column: 1 / span 6;
  }

  .prevent__card:last-child {
    grid-column: 7 / span 6;
  }
  /* This Protect Yourself Section */
  .protect__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .single__protect:first-child {
    grid-column: 1 / span 4;
  }

  .single__protect:nth-child(2) {
    grid-column: 5 / span 4;
    margin-top: 0px;
  }
  .single__protect:last-child {
    grid-column: 9 / span 4;
  }
  .doctor__wrapper p {
    grid-column: 1 / span 8;
  }
  .doctor__wrapper button {
    grid-column: 9 / span 3;
  }
  /* News and article section Designed */
  .news__wrapper {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
  }
  .single__news:first-child {
    grid-column: 1 / span 6;
  }
  .single__news:nth-child(2) {
    grid-column: 7 / span 6;
  }
  .single__news:last-child {
    grid-column: 1 / span 6;
    position: relative;
    left: 50%;
    top: 40px;
    transform: translateX(-50%, -50%);
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0px auto;
  }
  section {
    margin: 100px 0px;
  }
  .covid__menu > i {
    display: none;
  }
  .covid__menu ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 50px;
  }
  .covid__menu ul li:first-child {
    color: black;
    font-weight: bold;
  }
  .covid__menu ul li a {
    color: rgba(0, 0, 0, 0.7);
  }
  .covid__menu ul li a:hover {
    color: rgba(0, 0, 0, 0.9);
  }
  .single__statistic:first-child {
    grid-column: 1 / span 4;
  }
  .single__statistic:nth-child(2) {
    grid-column: 5 / span 4;
  }
  .single__statistic:last-child {
    grid-column: 9 / span 4;
  }

  .coronavirus__wrapper {
    align-items: start;
  }
  .coronavirus__single h1 {
    font-size: 2rem;
    margin: 20px 0px;
  }
  .coronavirus__single p {
    margin-bottom: 20px;
  }
  .coronavirus__single ul {
    margin-bottom: 40px;
  }
  /* This is protection section  */
  .protection__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    justify-self: center;
  }
  .prevent__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 50px;
    align-items: center;
  }
  .prevent__wrapper--card {
    grid-column: 1 / span 6;
  }
  .prevent__virus {
    grid-column: 7 / span 6;
  }
  /* This is symptoms section designed */
  .symptoms__wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
  }
  .symptoms__card:first-child {
    grid-column: 1 / span 6;
  }
  .symptoms__card:nth-child(2) {
    grid-column: 7 / span 6;
  }
  .symptoms__card:nth-child(3) {
    grid-column: 1 / span 6;
  }
  .symptoms__card:last-child {
    grid-column: 7 / span 6;
  }
  /* News */
  .single__news:first-child {
    grid-column: 1 / span 4;
  }
  .single__news:nth-child(2) {
    grid-column: 5 / span 4;
  }
  .single__news:last-child {
    grid-column: 9 / span 4;
    position: relative;
    left: 0%;
    top: 0px;
    transform: translateX(0%, 0%);
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0px auto;
  }
}
