@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mulish", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
section {
  margin: 60px 0px;
}
:root {
  --purple-color: #6f42c1;
  --para-color: gray;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
/* Header Section Designed */
.covid {
  background-color: rgba(111, 66, 193, 0.1);
  margin: 0px;
}
.covid__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 10px 0px;
}
.covid__menu > i {
  display: block;
  font-size: 1.25rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.covid__menu__area {
  display: none;
}

@media (max-width: 992px) {
  .covid__menu ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 30px;
    right: 0;
    bottom: 0;
    background: #FFF;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transform: translateX(calc(100% + 25px));
    transition-duration: 300ms;
    visibility: hidden;
    transition-delay: 300ms;
  }

  .covid__menu.is-active ul {
    visibility: visible;
    transform: translateX(0);
  }

  .covid__menu ul::after {
    content: "X";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    background: var(--purple-color);
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    pointer-events: none;
    color: #fff;
    transform: translateX(-100%);
  }

  .covid__menu li {
    width: 100%;
    text-align: center;
  }

  .covid__menu li + li {
    border-top: 1px solid #00000012;
  }

  .covid__menu li {
    padding: 15px;
  }

  .covid__menu__area {
    background: #00000063;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition-duration: 300ms;
    transition-delay: 600ms;
    display: block;
  }

  .covid__menu.is-active .covid__menu__area {
    visibility: visible;
    opacity: 1;
    transition: 300ms;
    transition-delay: 0;
  }
}

.covid__logo {
  grid-column: 1 / span 6;
  justify-self: start;
}
.covid__logo a {
  font-size: 1.75rem;
  color: black;
  font-weight: bold;
}
.covid__menu {
  grid-column: 7 / span 6;
  justify-self: end;
}
/* Slider Section Designed */
.slider {
  margin-top: 0;
  background-color: rgba(111, 66, 193, 0.1);
}
.slider__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 50px;
}
.slider__single:first-child {
  grid-column: 1 / span 12;
  text-align: center;
}
.slider__single:last-child {
  grid-column: 1 / span 12;
}
.slider__single span {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  color: #b097e0;
  margin-bottom: 10px;
}
.slider__single h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: var(--purple-color);
}
.slider__single p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: var(--para-color);
}
.btn {
  border: none;
  padding: 12px 25px;
  background-color: #6f42c1;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
}

.slider__single img {
  max-width: 100%;
}

/* Statistics Section Designed */
.section__header {
  text-align: center;
}
.section__header h1 {
  font-size: 2rem;
  padding-bottom: 10px;
  color: #6f42c1;
  font-weight: 900;
}
.section__header p {
  color: var(--para-color);
}
.statistic__wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 40px;
}
.single__statistic {
  display: grid;
  justify-items: center;
  grid-row-gap: 15px;
}
.single__statistic:first-child {
  grid-column: 1 / span 12;
}
.single__statistic:nth-child(2) {
  grid-column: 1 / span 12;
}
.single__statistic:last-child {
  grid-column: 1 / span 12;
}
.single__statistic i {
  font-size: 2rem;
}
.single__statistic h1 {
  font-weight: 900;
  font-size: 2rem;
}
.single__statistic p {
  font-weight: bold;
  color: var(--para-color);
}
/* What Is Coronavirus section designed */
.coronavirus__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 30px;
}
.coronavirus__single:first-child {
  grid-column: 1 / span 12;
  position: relative;
  overflow: auto;
}
.play {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background-color: var(--purple-color);
  z-index: 1;
  right: 0;
  bottom: 1%;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
.coronavirus__single:last-child {
  grid-column: 1 / span 12;
}
.coronavirus__single img {
  max-width: 100%;
  position: relative;
}

.coronavirus__single h1 {
  font-weight: 900;
  color: var(--purple-color);
  margin: 20px 0px;
  font-size: 1.75rem;
}
.coronavirus__single p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: var(--para-color);
}
.coronavirus__single ul {
  margin-bottom: 40px;
}
.coronavirus__single ul li {
  line-height: 2;
  color: var(--para-color);
}
.coronavirus__single ul li i {
  font-size: 0.625rem;
  border-radius: 100%;
  background-color: var(--purple-color);
  color: white;
  padding: 2px;
}
/* This is protection section  */
.protection__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}
.single__protection i {
  font-size: 2.5rem;
  float: left;
  margin-right: 15px;
  color: var(--purple-color);
}
.single__protection h3 {
  font-weight: 900;
  color: var(--purple-color);
}
.single__protection p {
  color: var(--para-color);
}
/* How To Prevent Coronavirus Section */
.prevent {
  background-color: #f8f5fc;
  padding: 80px 0px;
}
.prevent__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 30px;
}
.prevent__virus {
  grid-column: 1 / span 12;
}
.prevent__wrapper--card {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 30px;
}
.prevent__card:first-child {
  grid-column: 1 / span 12;
}
.prevent__card:nth-child(2) {
  grid-column: 1 / span 12;
}

.prevent__card:nth-child(3) {
  grid-column: 1 / span 12;
}

.prevent__card:last-child {
  grid-column: 1 / span 12;
}
.prevent__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: 0px 0px 5px 0px #ddd;
  border-radius: 10px;
}
.prevent__card i {
  display: grid;
  grid-column: 1 / span 12;
  font-size: 3rem;
  background-color: #e2d9f3;
  color: #6f42c1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 60px 0px;
  justify-items: center;
  align-items: center;
}
.prevent__card h3 {
  grid-column: 1 / span 12;
  padding: 20px 10px 0px 20px;
  color: #6f42c1;
}

.prevent__card p {
  grid-column: 1 / span 12;
  color: var(--para-color);
  padding: 10px 10px 40px 20px;
}
/* This Protect Yourself Section */
.protect__wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.single__protect:first-child {
  grid-column: 1 / span 12;
}

.single__protect:nth-child(2) {
  grid-column: 1 / span 12;
  margin-top: 20px;
}
.single__protect:last-child {
  grid-column: 1 / span 12;
}
.coronavirus__single--change ul li {
  line-height: 3;
}

.coronavirus__single--change ul li i {
  background-color: #a8df65;
  margin-right: 15px;
}
.coronavirus__single--change--icon ul li i {
  background-color: transparent;
  color: red;
}
.single__protect img {
  max-width: 100%;
}
/* This is symptoms section designed */
.symptoms {
  background-color: #f8f5fc;
  padding: 80px 0px;
}
.symptoms__wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 40px;
}
.symptoms__card:first-child {
  grid-column: 1 / span 12;
}
.symptoms__card:nth-child(2) {
  grid-column: 1 / span 12;
}
.symptoms__card:nth-child(3) {
  grid-column: 1 / span 12;
}
.symptoms__card:last-child {
  grid-column: 1 / span 12;
}
.symptoms__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  box-shadow: 0px 0px 20px 0px #ddd;
  padding: 20px 40px;
  background-color: white;
}
.symptoms__card img {
  max-width: 100%;
  grid-column: 1 / span 3;
  padding-right: 20px;
}
.symptoms__desc {
  grid-column: 4 / -1;
}
.symptoms__desc h3 {
  color: var(--purple-color);
  padding-bottom: 10px;
}
.symptoms__desc p {
  text-align: justify;
  line-height: 1.5;
  color: var(--para-color);
}
.doctor__location {
  width: 80%;
  margin: 0 auto;
}
.doctor__wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.doctor__wrapper p {
  grid-column: 1 / span 12;
  color: var(--para-color);
}
.doctor__wrapper p span {
  color: var(--purple-color);
  font-weight: bold;
  text-align: justify;
}
.doctor__wrapper button {
  grid-column: 1 / span 8;
  margin-top: 20px;
}
/* News and article section Designed */
.news__wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 40px;
}
.single__news:first-child {
  grid-column: 1 / span 12;
}
.single__news:nth-child(2) {
  grid-column: 1 / span 12;
}
.single__news:last-child {
  grid-column: 1 / span 12;
}
.news__img {
  position: relative;
  margin-bottom: 20px;
}
.news__img img {
  max-width: 100%;
}
.news__img::before {
  content: "30 JUL, 2020";
  position: absolute;
  z-index: 1;
  background-color: #6f42c1;
  padding: 5px 15px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
  cursor: pointer;
}
.news__data {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
}
.admin {
  grid-column: 1 / span 6;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--para-color);
  cursor: pointer;
}
.comments {
  grid-column: 7 / span 6;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--para-color);
  cursor: pointer;
}
.comments:hover,
.admin:hover {
  color: #a09c9c;
  transition-duration: 0.3s;
}
.single__news h3 {
  text-align: center;
  margin-top: 10px;
  color: #6f42c1;
}
/* This is footer section start */
footer {
  padding: 60px 0px;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 50px;
}
.single__footer:first-child {
  grid-column: 1 / span 12;
}
.single__footer:nth-child(2) {
  grid-column: 1 / span 12;
}
.single__footer:nth-child(3) {
  grid-column: 1 / span 12;
}
.single__footer:last-child {
  grid-column: 1 / span 12;
}
.single__footer h4 {
  margin-bottom: 10px;
  grid-column: 1 / span 12;
}
.single__footer p {
  margin-bottom: 10px;
  line-height: 1.8;
  color: var(--para-color);
  text-align: justify;
}
.social__icon {
  display: grid;
  width: 50%;
  grid-auto-flow: column;
  margin-top: 20px;
}
.single__footer ul li a {
  color: var(--purple-color);
  font-size: 1rem;
  line-height: 2.5;
  font-weight: bold;
}
.single__footer ul li a:hover {
  color: black;
  transition-duration: 0.3s;
}

footer small {
  margin-top: 40px;
  display: block;
  text-align: center;
  color: var(--para-color);
}
footer small a {
  font-size: 1rem;
  color: #6f42c1;
  font-weight: bold;
  transition-duration: 0.3s;
}
footer small a:hover {
  color: black;
}

.whats-float {
  position: fixed;
  transform:translate(108px,0px);
  bottom:225px;
  right:0;
  width:150px;
  overflow: hidden;
  background-color: #25d366;
  color: #FFF;
  border-radius: 2px 0 0 2px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  vertical-align: middle
}
.whats-float a span {
  color: white;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 10px;
  position: absolute;
  line-height: 16px;
  font-weight: bolder;
}
.whats-float i {
  font-size: 30px;
  color: white;
  line-height: 30px;
  padding: 10px;
  transform:rotate(0deg);
  transition: all 0.5s ease-in-out;
  text-align:center;
}
.whats-float:hover {
  color: #FFFFFF;
  transform:translate(0px,0px);
}
.whats-float:hover i  {
  transform:rotate(360deg);
}